<main role="main">
  <div class="container mt-3">
    <form action="index.html" method="POST">
      <h2>Create Recipe</h2>
      <div id="recipe-main">
        <div class="form-group">
          <label for="input-recipe-name">Input Recipe Name</label>
          <input type="text" class="form-control" id="input-recipe-name">
        </div>
        <div class="form-group">
          <label for="input-servings">Servings</label>
          <input type="number" min="1" class="form-control" id="input-servings">
        </div>
        <div class="form-group">
          <label for="input-cuisine">Main Cuisine Type</label>
          <select class="form-control" id="input-cuisine">
            <option>American</option>
            <option>English</option>
            <option>Italian</option>
            <option>Japanese</option>
            <option>Spanish</option>
            <option>Thai</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-description">Description</label>
          <textarea class="form-control" id="input-description" cols="30" rows="10" placeholder="Optional."></textarea>
        </div>
        <div class="form-group">
          <label for="input-tags">Tags</label>
          <textarea class="form-control" id="input-tags" cols="30" rows="10" aria-describedby="tags-help" placeholder="Optional."></textarea>
          <small id="tags-help" class="text-muted">Each tag should be separated by a space.</small>
        </div>
        <div class="mt-3 form-row justify-content-md-center">
          <button type="button" id="recipe-next" class="btn bg-cstm-green">Next</button>
        </div>
      </div>
      <div id="recipe-details" style="display:none;">
        <div class="form-row mt-4">
          <div class="col">
            <h5>Ingredients</h5>
            <div id="recipe-ingredients">
            </div>
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="button" id="recipe-ingredients-add" class="btn bg-cstm-green rounded-circle"><span class="fa fa-plus"></span></button>
              </div>
            </div>
            <hr class="mb-4">
            <h5>Steps</h5>
            <div id="recipe-steps">
            </div>
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="button" id="recipe-steps-add" class="btn bg-cstm-green rounded-circle"><span class="fa fa-plus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 form-row justify-content-md-center">
          <button type="button" id="recipe-back" class="btn mr-2 bg-cstm-orange">Back</button>
          <button type="submit" class="btn ml-2 bg-cstm-green">Create Recipe</button>
        </div>
      </div>
    </form>
  <!-- TODO: add aria-describedby descriptors using small for accessibility -->
</main>

{{!-- <script>
  var ingredients = [];
  var steps = [];

  $(document).ready(function() {
    $("#recipe-next").click(function() {
      $("#recipe-main").hide();
      $("#recipe-details").show();
    });

    $("#recipe-back").click(function() {
      $("#recipe-details").hide();
      $("#recipe-main").show();
    });

    function addIngredient() {
      var next = ingredients.length + 1;
      var html = '<div class="form-group row">';
      html += '<label for="ingredient-' + next + '" class="col-sm col-form-label">' + next + '. </label>';
      html += '<div class="col-sm-9">';
      html += '<input type="text" class="form-control" name="step-' + next + '" id="ingredient-' + next + '">';
      html += '</div>';
      html += '<div class="col-sm">';
      html += '<button type="button" class="recipe-ingredients-remove btn bg-cstm-green rounded-circle">-</button>';
      html += '</div>';
      html += '</div>';
      ingredients.push('ingredient-' + next);
      $("#recipe-ingredients").append(html);
    }

    function addStep() {
      var next = steps.length + 1;
      var html = '<div class="form-group row">';
      html += '<label for="step-' + next + '" class="col-sm col-form-label">' + next + '. </label>';
      html += '<div class="col-sm-9">';
      html += '<textarea class="form-control" name="step-' + next + '" id="step-' + next + '" cols="60" rows="3"></textarea>';
      html += '</div>';
      html += '<div class="col-sm">';
      html += '<button type="button" class="recipe-steps-remove btn bg-cstm-green rounded-circle">-</button>';
      html += '</div>';
      html += '</div>';
      steps.push('step-' + next);
      $("#recipe-steps").append(html);
    }

    $("#recipe-ingredients").on("click", ".recipe-ingredients-remove", function() {
      var root = $(this).parent().parent();
      var child = root.children("label");
      var text = child.text();
      var number = Number(text.substr(0, text.indexOf(".")));

      root.remove();

      ingredients.splice(number - 1, 1);
      for (var i = number - 1; i < ingredients.length; i++) {
        var id = ingredients[i];
        var label = $('label[for="' + id + '"]');
        var text = $('#' + id);

        var newId = 'ingredient-' + (i + 1);
        ingredients[i] = newId;
        label.attr('for', newId);
        label.text((i + 1) + '. ');
        text.attr('id', newId);
        text.attr('name', newId);
      }
    });

    $("#recipe-steps").on("click", ".recipe-steps-remove", function() {
      var root = $(this).parent().parent();
      var child = root.children("label");
      var text = child.text();
      var number = Number(text.substr(0, text.indexOf(".")));

      root.remove();

      steps.splice(number - 1, 1);
      for (var i = number - 1; i < steps.length; i++) {
        var id = steps[i];
        var label = $('label[for="' + id + '"]');
        var text = $('#' + id);

        var newId = 'step-' + (i + 1);
        steps[i] = newId;
        label.attr('for', newId);
        label.text((i + 1) + '. ');
        text.attr('id', newId);
        text.attr('name', newId);
      }
    });

    $("#recipe-ingredients-add").click(function() {
      addIngredient();
    });
    addIngredient();
    
    $("#recipe-steps-add").click(function() {
      addStep();
    });
    addStep();

    var sessionID = getParameterByName('sid');
    if (sessionID) {
      var user = fromSession(sessionID);
      $("#user-dp").attr("src", user.bio.display);
      var anchors = $("a").toArray();
      for (var key in anchors) {
        var anchor = anchors[key];
        var link = $(anchor).attr("href");
        if ($(anchor).hasClass('logout')) continue;
        if (link !== '#') {
          $(anchor).attr("href", link + '?sid=' + sessionID);
        }
      }
      $("#registered-nav").show();
    } else {
      $("#unregistered-nav").show();
    }
  });
</script> --}}