<main role="main">
  <div class="container mt-3">
    <form style="min-height: 800px;">
      <h2>Edit Profile</h2>
      <div class="form-row">
        <div class="form-group col-lg-6 col-md-12">
          <label for="input-bio">Biography</label>
          <textarea cols="30" rows="10" class="form-control" id="input-bio" name="bio"></textarea>
        </div>
        <div class="form-group col-lg-6 col-md-8" style="min-height:200px;">
          <label for="img-upload">New Profile Picture</label>
          <input type="file" id="img-upload" class="form-control-file">
          <img id="img-preview" class="img-thumbnail mt-2" style="display:none;width:75%;">
        </div>
      </div>
      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-cstm-green">Finish Editing</button>
      </div>
    </form>
  <!-- TODO: add aria-describedby descriptors using small for accessibility -->
</main>

{{!-- <script>
  $(document).ready(function() {
    var sessionID = getParameterByName('sid');
    if (sessionID) {
      var user = fromSession(sessionID);
      $("#user-dp").attr("src", user.bio.display);
      var anchors = $("a").toArray();
      for (var key in anchors) {
        var anchor = anchors[key];
        var link = $(anchor).attr("href");
        if ($(anchor).hasClass('logout')) continue;
        if (link !== '#') {
          $(anchor).attr("href", link + '?sid=' + sessionID);
        }
      }
      $("#registered-nav").show();
    } else {
      window.location.href = "login.html";
    }

    $("#img-upload").change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(image) {
          $("#img-preview").attr("src", image.target.result);
          $("#img-preview").show();
        };
        reader.readAsDataURL(this.files[0]);
      }
    });
  });
</script> --}}