<main role="main">
  <div class="container mt-3">
    <form style="min-height: 800px;" action="/profile/edit" method="POST" enctype="multipart/form-data">
      <h2>Edit Profile</h2>
      <div class="form-row">
        <div class="form-group col-lg-6 col-md-12">
          <label for="input-firstname">First Name</label>
          <input type="text" class="form-control" id="input-firstname" name="firstname">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <label for="input-lastname">Last Name</label>
          <input type="text" class="form-control" id="input-lastname" name="lastname">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <label for="input-bio">Biography</label>
          <textarea cols="30" rows="10" class="form-control" id="input-bio" name="bio"></textarea>
        </div>
        <div class="form-group col-lg-6 col-md-8" style="min-height:200px;">
          <label for="img-upload">New Profile Picture</label>
          <input type="file" id="img-upload" class="form-control-file" name="display">
          <img id="img-preview" class="img-thumbnail mt-2" style="display-none; max-length: 200px; max-width: 200px;">
        </div>
      </div>
      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-cstm-green">Finish Editing</button>
      </div>
    </form>
  <!-- TODO: add aria-describedby descriptors using small for accessibility -->
</main>

<script>
  $(document).ready(function() {
    $("#img-upload").change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(image) {
          $("#img-preview").attr("src", image.target.result);
          $("#img-preview").show();
        };
        reader.readAsDataURL(this.files[0]);
      }
    });
  });
</script>
