<main>
  <div class="container">
    <section id="popular" class="mt-3">
      <h1>Popular</h1>
      {{> recipes hot_recipes }}
      <button type="button" class="btn btn-cstm-orange-darkest text-light ml-auto mr-auto mt-4 d-block">Show more</button>
    </section>
    <section id="user-featured" class="mt-3">
      <h1>For you</h1>
      {{> recipes recommended_recipes }}
      <button type="button" class="btn btn-cstm-orange-darkest text-light ml-auto mr-auto mt-4 d-block">Show more</button>
    </section>
  </div>
</main>
