<div id="login-interface">
  <div id="login-area" class="bg-cstm-yellow">
    <div class="login-nest bg-cstm-yellow-lighter">
      <div class="login-nest bg-cstm-yellow-lightest">
        <div class="container">
          <p class="text-center mt-4"><a href="/" class="text-dark"><i id="login-logo" class="fa fa-cutlery"></i></a></p>
          <hr class="ml-auto mr-auto mt-4">
          <h1>Log In</h1>
          <form id="login" action="index.html">
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" class="form-control" name="username" type="text">
            </div>
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input id="password" class="form-control" name="password" type="password">
            </div>
            <div class="row mt-3">
              <div class="col-2">
                <button type="submit" class="btn btn-cstm-orange">Login</button>
              </div>
            </div>
            <p class="mt-3">Don't have an account yet? <a href="/register" class="font-weight-bold text-cstm-orange-darkest">Register</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="login-filler" class="bg-cstm-orange-lightest">
  </div>
</div>
