<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-7 p-4 rounded bg-cstm-green-lightest"style="height:400px">
        <h2 id="profile-name">Sabrina Bryan</h2>
        <h4 class="h-75 lead" id="profile-description">Professional procrastinator. Traveller ✈️ Book lover 📖 Obsessed with cheese 🧀. Life's uncertain. Eat dessert first. Sweet as sugar, tough as nails.</h4>
        <small id="join-date" class="align-self-end">Joined on February 23, 2020</small>
      </div>
      <div class="col-5">
        <img id="profile-image" class="rounded img-fluid" src="/img/Faces/alexandru-zdrobau--djRG1vB1pw-unsplash.jpg" alt="Photo by Alexandru Zdrobău on Unsplash">
      </div>
    </div>
    <div class="row">
      <h2>Their Recipes</h2>
      <div class="recipe-cards p-3">
        <div class="row mt-4">
          <div class="card-deck">
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/anthony-rosset-5vDeo9GVpdw-unsplash.jpg" alt="Ice Cream Bread (Photo by Anthony Rosset on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Ice Cream Bread</h6>
              </div>
            </div>
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/raphael-maksian-vPedCtyqArw-unsplash.jpg" alt="Blueberry Cheesecake (Photo by RAPHAEL MAKSIAN on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Blueberry Cheesecake</h6>
              </div>
            </div>
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/olga-kudriavtseva-TG48AyjXsXk-unsplash.jpg" alt="Strawberry Cake (Photo by Olga Kudriavtseva on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Strawberry Cake</h6>
              </div>
            </div>
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/nick-fewings-8YhMxwhuyQM-unsplash.jpg" alt="Grilled Squid (Photo by Nick Fewings on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Grilled Squid</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-cstm-orange-darkest text-light ml-auto mr-auto mt-4 d-block">Show more</button>
    </div>
    <div class="row">
      <h2>Likes</h2>
      <div class="recipe-cards p-3">
        <div class="row mt-4">
          <div class="card-deck">
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/anthony-rosset-5vDeo9GVpdw-unsplash.jpg" alt="Ice Cream Bread (Photo by Anthony Rosset on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Ice Cream Bread</h6>
              </div>
            </div>
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/raphael-maksian-vPedCtyqArw-unsplash.jpg" alt="Blueberry Cheesecake (Photo by RAPHAEL MAKSIAN on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Blueberry Cheesecake</h6>
              </div>
            </div>
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/olga-kudriavtseva-TG48AyjXsXk-unsplash.jpg" alt="Strawberry Cake (Photo by Olga Kudriavtseva on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Strawberry Cake</h6>
              </div>
            </div>
            <div class="recipe-card card text-center">
              <img class="card-img-top" src="/img/nick-fewings-8YhMxwhuyQM-unsplash.jpg" alt="Grilled Squid (Photo by Nick Fewings on Unsplash)">
              <div class="card-body bg-cstm-green-lighter">
                <h6 class="card-title">Grilled Squid</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-cstm-orange-darkest text-light ml-auto mr-auto mt-4 d-block">Show more</button>
    </div>
    <div class="row">
      <h2 class="mt-2">Comments</h2>
      <div class="recipe-cards p-2">
        <div class="row mt-4">
          <div class="card-deck">
            <div class="row p-1">
              <div class="col-3">
                <div class="recipe-card card text-center">
                  <img class="card-img-top" src="/img/anthony-rosset-5vDeo9GVpdw-unsplash.jpg" alt="Ice Cream Bread (Photo by Anthony Rosset on Unsplash)">
                  <div class="card-body bg-cstm-green-lighter">
                    <h6 class="card-title">Ice Cream Bread</h6>
                  </div>
                </div>
              </div>
              <div class="col p-4 rounded bg-cstm-orange-lighter">
                <h4 class="lead" id="input-recipe-name">I will try to make more recipes in the future!!</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-cstm-orange-darkest text-light ml-auto mr-auto mt-4 d-block">Show more</button>
    </div>
  </div>
  <!-- TODO: add aria-describedby descriptors using small for accessibility -->
</main>

{{!-- <script>
  $(document).ready(function() {
    var sessionID = getParameterByName('sid');
    if (sessionID) {
      var user = fromSession(sessionID);
      $("#user-dp").attr("src", '../' + user.bio.display);
      var anchors = $("a").toArray();
      for (var key in anchors) {
        var anchor = anchors[key];
        var link = $(anchor).attr("href");
        if ($(anchor).hasClass('logout')) continue;
        if (link !== '#') {
          $(anchor).attr("href", link + '?sid=' + sessionID);
        }
      }
      $("#registered-nav").show();
    } else {
      $("#unregistered-nav").show();
    }
  });
</script> --}}