body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav + main > .container {
  padding-top: 65px;
}

a:hover, a:visited, a:link, a:active .no-hover {
  text-decoration: none !important;
}

.recipe-card {
  cursor: pointer;
}

.recipe-card a {
  display: none;
}

#profile-img {
  width: 32px;
  height: 32px;
}

#login-interface {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.login-nest {
  position: absolute;
  left: 16px;
  top: 16px;
  width: calc(100% - 16px);
  height: calc(100% - 32px);
}

#login-area {
  position: absolute;
  width: 50%;
  height: 100%;
}

#login-filler {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
}

#login-logo {
  font-size: 3em;
}

#login-area .container {
  width: 80%;
}

@media(max-width: 719px) {
  .login-nest {
    position: absolute;
    left: 16px;
    top: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
  }

  #login-area {
    width: 100%;
  }

  #login-filler {
    display: none;
  }
}

@media(min-width: 1080px) {
  .login-nest {
    position: absolute;
    left: 32px;
    top: 32px;
    width: calc(100% - 32px);
    height: calc(100% - 64px);
  }
}
